.bio {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color:rgb(34, 30, 30);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
   
}


button {
    background-color: #4CAF50; /* Green */
    font-style: italic;
    font-weight: bold;  
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  
    
}

button a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color:rgb(82, 92, 102);
}